@use "sass:map";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

h1,
p {
    font-family: Lato;
}

$light-square: #ffe695;
$dark-square: #976625;
$primary-color: #bcc8ff;
$secondary-color: #8f99bb;

$files: (
    1: "a",
    2: "b",
    3: "c",
    4: "d",
    5: "e",
    6: "f",
    7: "g",
    8: "h",
);

@mixin boardSquares($square-size) {
    @for $file from 1 to 9 {
        @for $rank from 1 to 9 {
            .board__piece--#{map.get($files, $file)}#{$rank} {
                left: calc($square-size * ($file - 1));
                top: calc($square-size * (8 - $rank));
            }
        }
    }
}

@mixin boardStyles($square-size) {
    .board {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        width: calc($square-size * 8);
        aspect-ratio: 1/1;
    }

    .board__row {
        display: block;
        height: 12.5%;
    }

    .board__square {
        width: 12.5%;
        height: 100%;
        background-color: $light-square;
        display: inline-block;
    }

    .board__square.board__square--black {
        background-color: $dark-square;
    }

    .board__square.board__square--clickable {
        cursor: pointer;
    }

    .board__square.board__square--capturable {
        background-color: $primary-color;
    }

    $marker-multiplier: 0.3;
    $marker-spacing: calc(100% * (1 - $marker-multiplier) / 2);

    .board__square > .board__square-overlay {
        width: 100%;
        height: 100%;
        z-index: 3;
        position: relative;
        padding-top: calc($marker-spacing);
        padding-left: calc($marker-spacing);
    }

    .board__square-overlay > .board__square-marker {
        width: calc((110% + $marker-spacing) * $marker-multiplier);
        height: calc((110% + $marker-spacing) * $marker-multiplier);
        border-radius: 100%;
        background-color: $primary-color;
    }

    .board__piece {
        position: absolute;
        width: $square-size;
        height: $square-size;
        display: inline-block;
        transition: top 200ms linear, left 200ms linear;
    }

    .board__piece.board__piece--clickable {
        cursor: pointer;
    }

    .board__piece.board__piece--selected {
        background-color: $secondary-color;
    }

    @include boardSquares($square-size);
}

@media screen and (min-width: 680px) {
    @include boardStyles(54px);

    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 680px) and (min-width: 500px) {
    @include boardStyles(45px);
}

@media screen and (max-width: 500px) {
    @include boardStyles(calc(12.5%));

    body {
        font-size: 12px;
    }
}
